* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    padding: 6% 14%;
}

article h2 {
    font-family: Georgia, serif;
    font-size: 30px;
    line-height: 1.2;
}

section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    gap: 6%;
}

section article {
    width: 248px;
}