body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 30px;
}

.frame {
    border: 6px solid black;
    border-radius: 14px;
    padding: 2.2rem 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1881b6;
}

.frame__left {
    width: 65%;
}

.frame__left h2 {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 2rem;
}

.frame__left h1 {
    font-size: 52px;
    color: white;
    font-weight: 100;
    margin-bottom: 1rem;
}

.frame__left p {
    width: 65%;
    line-height: 34px;
    font-size: 18px;
    margin-bottom: 2rem;
}

.frame__left p span {
    margin-left: 64px;
}

.left__button {
    width: 60%;
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 6px 16px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: transparent;
    font-size: 18px;
}

.btn-left {
    background-color: #b6416d;
    color: white;
}

.frame__right {
    width: 30%;
}


