* {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.container .picture {
    width: 100px;
    height: 300px;
    border-radius: 6px;
}

.container .picture.primary {
    width: 400px;
}