html {
    font-family: Helvetica, sans-serif;
}

h1 {
    display: inline-block;
}

nav {
    display: inline-block;
}

ul {
    display: inline-block;
}

li {
    display: inline-block;
    font-size: 22px;
}

li:not(:last-child) {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: green;
}

h2 {
    font-size: 26px;
}

p {
    line-height: 1.5;
    font-size: 18px;
}